.filter-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  width: 300px;
  color: var(--base-text);
  text-align: center;
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
.filter-input {
  display: block;
  width: 70%;
  height: 2.25rem;
  margin-top: 1rem;
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--base-text);
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 0.4rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.filter-result {
  margin-top: 1rem;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 1rem;
  max-height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background: white;
  opacity: 0.5;
}
.list-item {
  display: block;
  border: none;
  color: var(--base-text);
  background: transparent;
  border-bottom: 1px solid rgba(210, 210, 210, 0.6);
  padding: 0.2rem;
  text-align: left;
  width: 100%;
  cursor: pointer;
  transition: font-size 0.25s ease-in-out;
}
.list-item:hover {
  font-size: 0.75rem;
}
